<section id="About">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-lg-4">
        <h3>
            — I'm Rogelio Cobian, a tutor gone freelance devolper.
        </h3>
        <p>
            I was once an educator for a small community college in my hometown. I sincerely enjoy teaching and learning.
            However, my love of learning plus my background in technology has lead me to a company called Bitwise where I
            now work as a freelance developer. I love programming and web devolopment, and I'll gladly work for you.
        </p>
      </div>

      <div class="col-sm-6 col-lg-4">
        <h3>
          This Is What I Do
        </h3>
        <dl>
          <dt>Front End Design</dt>
          <dd>-HTML</dd>
          <dd>-CSS</dd>
          <dd>-SASS</dd>
          <dd>-Boostrap 4</dd>
        </dl>

        <dl>
            <dt>Can Work With</dt>
            <dd>-Wordpress</dd>
            <dd>-Java</dd>
            <dd>-Javascript</dd>
            <dd>-Angular 2</dd>
            <dd>-PHP</dd>
          </dl>
      </div>

      <div class="col-sm-6 col-lg-4">
        <h3>Personal Favorites</h3>
      <dl>
        <dt>Games</dt>
        <dd>-Breath of the Wild</dd>
        <dd>-Last of Us</dd>
        <dd>-Orcarina of Time</dd>
        <dd>-RE4</dd>
        <dd>-Stardew Valley</dd>
      </dl>

      <dl>
          <dt>Books</dt>
          <dd>-1984</dd>
          <dd>-Astrophysics for People in a Hurry</dd>
          <dd>-Freakanomics</dd>
          <dd>-The Colorless Tsukuru Tazaki</dd>
        </dl>

      </div>

    </div>
  </div>
</section>



  <section id="Examples">
    <div class="row">
      <div class="col-12 order-lg-1 col-lg-6 text">
        <h3>Back-End Programming</h3>
        <p>
          Before learning design, I was mainly a programmer. I had made some games with java years before
          learning web development. Now, I can code in Javascript and Angular 2. I found this is what I'm
          best at. Vist my Github for various other small projects.
        </p>
      </div>

      <div class="col-12 order-lg-2 col-lg-6 squares image-one" id="One"></div>

    </div>

    <div class="row">

      <div class="col-12 order-2 col-lg-6 order-lg-1 squares image-two" id="Two">

      </div>

      <div class="col-12 order-1 order-lg-2 col-lg-6 text">
        <h3>Responsive Design</h3>
        <p>
            I'm proud of my humble start. This was the first outline for my portfolio. A lot has changed
            since then. I can now make reponsive web pages that can adapt for anything. From T.V's to small phones.
            My designs can change for better use. Vist my Github for various other small projects.
        </p>
      </div>

    </div>

    <div class="row">
      <div class="col-12 col-lg-6 text">
        <h3>Front End Apps</h3>
        <p>
            As previously stated. I know Angular 2+, this can be used to create the front-end for apps.
            This is just a quick mockup for a recipebook. Vist my Github for various other small projects.
        </p>
      </div>
      <div class="col-12 col-lg-6 squares image-three" id="Three"></div>
    </div>

  </section>
