<section id="Nav">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
      <!-- Maybe navbar-expand-sm -->
      <a class="navbar-brand" href="https://github.com/RogelioCobian">
        <i class="fab fa-github fa-2x"></i>
        <span>
          My Github
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#Banner">Home</a>
          <a class="nav-item nav-link" href="#About">About Me</a>
          <a class="nav-item nav-link" href="#Examples">Examples</a>
          <a class="nav-item nav-link" href="#Contact">Contact Form</a>
        </div>
      </div>
    </nav>
</section>

<section id="Banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 col-md-4 offset-md-1 name align-self-center">
          <span>
              <h2>
                I'm Roy
              </h2>
              <h6>
                Contact Me
              </h6>
              <br>
              <a href="#Contact">Contact Info</a>
          </span>
      </div>
    </div>
  </div>
</section>
